<div class="wrapper">
<h1>Numer of room = {{activeRoom.id}}</h1>
<h2>Max players = {{activeRoom.maxplayers}}</h2>
<h2>Players in room = {{playersInRoom}}</h2>
<h2>You name: = {{activePlayer.name}}</h2>
<h2>You ID: = {{activePlayer.id}}</h2>

<button type="button" (click)="playerReady()" id="playerReady">Ready</button>
 <div *ngIf="this.activePlayer.isActive">!!!READY!!!</div>

<div  *ngFor="let player of activeRoomPlayers">Name player = {{player.name}} Active: {{player.isActive}}</div>
</div>


