.wrapper {
  background-color: aqua;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#playerReady {
  width: 100px;
  height: 50px;
  margin: 10px auto 10px auto;
  font-size: 20px;
}

label {
  font-size: 20px;
}