<section class="table">
    <div class="comp-side">
      <div *ngFor="let card of computer.hand">
        <img [src]="card.src">
      </div>
    </div>
  
    <div class="center-table">
      <button *ngIf="!isShowResult"
              type="button" 
              class="input-button4"
              (click)="getYou()">
        Взять
      </button>
  
      <span class="total">
        You score: {{ player.sum }}
      </span>
  
      <span *ngIf="isShowResult" 
            class="comp-result">
        Comp score:{{ computer.sum }}
      </span>
  
      <button *ngIf="!isShowResult" 
              type="button" 
              class="input-button4"
              (click)="finish()">
        ВСЁ
      </button>
    </div>
  
    <div class="you-side">
      <div *ngFor="let card of player.hand">
        <img [src]="card.src">
      </div>
    </div>
  </section>