<app-score [activeRoom] = "activeRoom"
           [user] = "user"
           [message] = "message"
           (userReady)="userReady()"
           [youTurn]="youTurn"
           [finish]="finish"
           (getPlayer)="getYou()"
           (enoughGame)="enoughGame()"
           (finishGame)="finish()"
           (addBots)="addBots()"
           (deleteBots)="deleteBots()"
           >
</app-score>

<app-field [activeRoom]="activeRoom"
           [user] = "user"
           [youTurn]="youTurn">
</app-field>
