<div class="score-container">
  <a routerLink="/menu">
    Return to MENU
  </a>

  <button *ngIf="finish" (click)="startNewGame()"> Retry? {{roomId}}</button>

  <!--
  <div class="score">
    Wins:{{ scoreResult.player.numberWins }} Loses:{{ scoreResult.computer.numberWins }}
  </div>

  <div class="score">
    {{ scoreResult.message }}
  </div> -->

  <div class="score" *ngIf="activeRoom.id">
      ID ROOM:{{ activeRoom.id }}
  </div>

  <div class="score" *ngIf="youTurn">
    YOU TURN!!!
</div>

  <!-- <button type="button"
          class="input-button4"
          (click)="startNewGame()">
    New Game
  </button> -->
</div>
