.score {
  font-size: 52px;
  color: black;
  background-color: rgba(163, 163, 163, 0.438);
  border-radius: 20px;
}

.score,
.score-container {
  margin: auto;
  text-align: center;
}

.score-container {
  background-color: grey;
}

button {
  height: 70px;
  width: 130px;
  font-size: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

a {
  font-size: 42px;
}