<div class="score-container">
  <a routerLink="/multiplayer">
    Return to multiplayer menu.
  </a>
  <div class="score">
      {{ scoreResult.message }}
    </div> 
  <button *ngIf="scoreResult" (click)="startNewGame()"> Ready {{scoreResult.user.isActive}}</button>
  <div class="score" *ngIf="scoreResult && scoreResult.user.isActive">
      READY!!!
    </div> 
  <div class="score">
    Wins:{{ scoreResult.user.wins }} Loses:{{ scoreResult.user.loses }}
  </div>
  <div class="score" *ngIf="scoreResult.room">
      ID ROOM:{{ scoreResult.room.id }} Max players: {{ scoreResult.room.maxplayers}}
  </div>
  <div class="score" *ngIf="scoreResult.youTurn">
      YOU TURN!!!
  </div> 

<!-- 

  <div class="score" *ngIf="youTurn">
    YOU TURN!!!
</div> -->

  <!-- <button type="button"
          class="input-button4"
          (click)="startNewGame()">
    New Game
  </button> -->
</div>
