<div class="score-container">
  <a routerLink="/multiplayer" 
     *ngIf="room && !room.single"
     class="action-button shadow animate green return-link">
    Return to multiplayer menu.
  </a>

  <a routerLink="/menu" 
     *ngIf="room && room.single"
     class="action-button shadow animate green">
    Return to menu.
  </a>

  <div class="score" 
       *ngIf="room && !room.single">
    Players in room: 

    <span *ngFor="let player of room.players" 
          [class.ready]="player.isActive">
      \ {{player.name}} / 
    </span>
  </div>

  <div class="score" 
       *ngIf="room && !room.single">
    Max players: {{ room.maxplayers}}
  </div>

  <div class="score">
    {{ message }}
  </div>

  <div class="score">
     You Score: {{ user.sum }}
  </div>

  <div>
    <button class="action-button shadow animate" 
            *ngIf="room && !room.started && room.players && room.players.length > 1"
            [class.green]="user.isActive"
            [class.yellow]="!user.isActive"
            (click)="ready()"> 
      Ready 
    </button>

    <button class="action-button shadow animate blue" 
            *ngIf="room && !room.started && user.playerMaster"
            (click)="createdBot()"> 
      Add bot
    </button>

    <button class="action-button shadow animate yellow" 
            *ngIf="room && !room.started && user.playerMaster"
            (click)="deletedBot()"> 
      Delete bot
    </button>

    <button class="action-button shadow animate" 
            type="button" 
            *ngIf="room && room.started "
            [disabled]="!isYouTurn"
            [class.red]="!user.turn" 
            [class.blue]="user.turn" 
            [disabled]="!user.turn"
            (click)="this.getCard.emit()">
      Get Card
    </button>

    <button class="action-button shadow animate " 
            type="button" 
            *ngIf="room && room.started " 
            [disabled]="!isYouTurn"
            [class.red]="user.enough || !user.turn"
            [class.yellow]="!user.enough && user.turn " 
            (click)="this.stopTakingCards.emit()">
      Enough! 
    </button>
  </div>
</div>