<section class="table" 
         *ngIf="room">
  <div class="players" 
       [class.turn]="player.turn"
       [class.no-turn]="!player.turn"
       *ngFor="let player of room.players">
    <h3>
      Player Name: {{ player.name }}
    </h3>

    <h3>
      Wins: {{ player.wins }} Games: {{ player.loses }}
    </h3>

    <h3 *ngIf="!room.started">
      Score: {{ player.sum }}
    </h3>

    <div class="player-hand">
      <img *ngFor="let card of player.hand" 
      [src]="player.id === user.id || !room.started
        ? '../../assets/img/' + card.name + card.suits + '.png'
        : cardBackView">
    </div>

    
  </div>
</section>