<div class="wrapper">
  <div class="button-wrapper">
    <a routerLink="/menu" class="action-button shadow animate blue">
      Return to menu
    </a>


  <button type="button" 
          (click)="isShowAddRoomMenu = !isShowAddRoomMenu" 
          class="add-button"
          class="action-button shadow animate green">
    show/hide add room menu
  </button>

  <div *ngIf="isShowAddRoomMenu" 
       class="add-room-menu">
    <label for="maxPlayer">
      Max players:
    </label>

    <input type="number" 
           min="2"
           max="6" 
           autofocus 
           placeholder="2" 
           id="maxPlayer" 
           [(ngModel)]="maxPlayers">

    <button type="button" 
            (click)="addNewRoom()" 
            class="add-button"
            class="action-button shadow animate red">
      Create room
    </button>
  </div>
</div>
  <div class="wrapper-rooms">
    <div *ngFor="let room of rooms">
      <div class="room" 
           [class.started]="room.started" 
           *ngIf="!room.single">
        Number of room : {{ room.id }}

        <div>maxplayers : {{ room.maxplayers }}</div>

        <div>players in room : {{room.players | players}} </div>

        <button type="button" class="action-button shadow animate red add-button"
                (click)="deleteRoom(room.id)">
          Delete room
        </button>

        <button type="button" class="action-button shadow animate green add-button"
                (click)="selectRoom(room.id)">
          Select room
        </button>
      </div>
    </div>
  </div>
</div>