<div class="wrapper">
  <label for="inputNewName">Please enter you name</label>
  <input type="text" id="inputNewName" placeholder="Enter name" [(ngModel)]="userName">

  <button type="button" (click)="isShowAddRoomMenu = !isShowAddRoomMenu" class="add-button">show/hide add room menu</button>

  <div *ngIf="isShowAddRoomMenu" class="add-room-menu">
    <label for="maxPlayer">Max players: </label>
    <input type="number" min="2" max="6" autofocus placeholder="2" id="maxPlayer" [(ngModel)]="newRoom.maxplayers">
    <button type="button" (click)="addNewRoom()" class="add-button">Create room</button>
  </div>

  <div class="wrapper-rooms">
    <div *ngFor="let room of rooms" class="room">
      Number of room : {{room.id}}
      <div>maxplayers : {{room.maxplayers}}</div>
      <button type="button" (click)="deleteRoom(room.id)">Delete room</button>
      <a  routerLinkActive="router-link-active"> <button type="button" (click)="selectRoom(room.id)"
          *ngIf="userName">Select room</button> </a>
    </div>
  </div>
</div>